/* Hyperspeed background styles */
.hyperspeed-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  background-color: black;
}


.hyperspeed-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
